<div class="sw-cms-block-my-4-col-block">
    <sw-cms-slot name="col1"></sw-cms-slot>
    <sw-cms-slot name="col2"></sw-cms-slot>
    <sw-cms-slot name="col3"></sw-cms-slot>
    <sw-cms-slot name="col4"></sw-cms-slot>
</div>